<template>
    <form @submit.prevent='registerUser' class="registration">
        <input v-model='email' type="text" placeholder="Почта">
        <input v-model='password' type="text" placeholder="Пароль">
        <button>Зарегистрироваться</button>
    </form>
</template>

<script>
import { actions } from '../modules/auth.js';

export default {
    data() {
        return {
            email: '',
            password: '',
        };
    },
    methods: {
        registerUser() {
            if (!this.email || !this.password) {
                return alert('Введите имя и пароль');
            }

            const formData = {
                email: this.email,
                password: this.password,
            };

            this.$store.dispatch(actions.register, formData)
                .then((profile) => {
                    alert("Пользователь зарегистрирован " + profile.email);
                })
                .catch((e) => {
                    alert(e.message);
                });
            
            this.email = '';
            this.password = '';
        }
    },
}
</script>

<style lang="scss">
.registration {
    display: flex;
    flex-direction: column;

    flex-grow: 1;

    padding: 1.5rem;
}

.registration input, button {
    margin-top: 0.5rem;
}
</style>
