<template>
    <div id="app">
        <div class="form-navigation">
            <router-link tag="div" to="/authorization">Авторизация</router-link>
            <router-link tag="div" to="/registration">Регистрация</router-link>
        </div>
        <router-view></router-view>
        <div class="stored-user" v-if='currentProfile'>{{ `${currentProfile.email} в сети`  }}</div>
        <div v-for='(profile, i) in registeredProfiles' :key='i' class="stored-user">
            {{ `${profile.email} ${profile.password}` }}
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            date: new Date(),
        }
    },
    computed: {
        currentProfile() {
            return this.$store.getters.profile;
        },
        registeredProfiles() {
            return this.$store.getters.registeredProfiles
        }
    }
}
</script>

<style lang="scss">
#app {
    display: flex;
    flex-direction: column;

	box-shadow: 0 0 10px 0 black;

    width: 15rem;
}

.form-navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    border-bottom: solid 1px gray;

    width: inherit;
    height: 3rem;
}

.stored-user {
    padding: 0.4rem;
}
</style>
